footer {
  height: 30px;
  margin-top: 30px;

  p {
    text-align: center;
  }
}

.footer-border {
  @extend %border;
}

@media only screen and (max-width: $breakpoint-md) {
  .footer-border{
    display: none;
  }
}
