.header{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #000;

  &__img{
    text-align: center;
  }

  &__nav{
    display: flex;
    justify-content: space-around;

    & li{
      list-style: none;
    }
  }
}
