


.header{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: $bg-color;

  &__img{
    text-align: center;
  }
  & img{
    border-radius: 10px;
  }

  &__nav{
    display: flex;
    justify-content: space-around;

    & li{
      padding:40px 0 20px 0;
      list-style: none;
      cursor: pointer;
      display: block;
      position: relative;

      & a{
        text-decoration: none;
        color: gold;

        &:visited{
          color: gold;
        }
      }

      &:hover::before{
        @include fontawesome('\f578');
         position: absolute;
         left:-20px;
         bottom:20px;
      }
    }
  }
  &__border{
    width: 100%;
    background: url('../../img/h-border.png');
    background-repeat: repeat-x;
    height: 15px;
    margin-top: 20px;
    z-index: 11;
    position: relative;

    &::before{
      content:'';
      background:url('../../img/boat.png');
      background-repeat: no-repeat;
      z-index: 12;
      position: absolute;
      width: 32px;
      height: 32px;
      top: -23px;
      left: 300px;





    }

  }
}
.fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba($bg-color,.8);

}
