%card {
  box-sizing: border-box;
  width: 350px;
  border-radius: 5px;
  background: $beige;
  border: 4px solid $color-gold;


  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .text p {
    text-align: left;
    padding: 10px;
    letter-spacing: 1;
    color: $black;
    opacity: 1;
    padding-bottom: 20px;
  }
}

.card {
  @extend %card;

   &__title {
     text-align: center;
     font-weight: bold;
     color: $black;
    }
}
