%card {
  box-sizing: border-box;
  width: 350px;
  border-radius: 5px;
  background: $beige;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .text p {
    text-align: left;
    padding: 10px;
    letter-spacing: 1;
    color: $black;
    opacity: 1;
    padding-bottom: 20px;
  }
}

//
// %card {

//   grid-gap: 0.8em;
//   border: 1px solid #ddd;
//   padding: 0.8em;
//   margin: 0 0 2em;
// }

// .cssgrid > div {
//   background: #ddd;
//   overflow: auto;
//   min-width: 0;
//   padding: 1em;
// }


.card {
  @extend %card;



   &__title {
     text-align: center;
     font-weight: bold;
     color: $black;
    }

    .info {
      margin: 0 0 15px 46%;
      width: 50%;
      padding: 5px;
      font-size: 1em;
      border-radius: 3px 20px 3px 20px;
      border: 3px dashed $black;
      background: $beige;

      a {
        color: $black;
      }
    }
}

/* MediaQuery */
@media only screen and (max-width: $breakpoint-md) {

  .boxcard{
    @include i-card;
      // display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      // grid-auto-rows: 1fr;
    }

  //  .boxcard{
  //   @include i-card;
  //     flex-wrap: wrap;
  //     width: calc(100% - 100px / 3);
  //     .card{
  //       margin-bottom: 30px;
  //     }

  //   }
  .card{
    margin-bottom: 30px;
  }

}

/* MediaQuery end */
