.contact {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  height: 350px;
  margin-top: 50px;
  text-align: center;

  .sub-title {
    font-size: 1.6em;
    margin-bottom: 15px;
    font-family: $font-fam;
  }


  @mixin box {
    box-sizing: border-box;
    margin-top: 10px;
    display: block;
    width: 400px;
  }

    .form {
    margin: 10px 0 30px;
    display: flex;
    justify-content: center;
  }

    .form-left {
    margin-right: 50px;

    .name {
      @include box;
      margin-bottom: 20px;
      height: 50px;
    }
    .email {
      @include box;
      height: 50px;
    }

  }


  .inquiry {
    @include box;
    height: 120px;
  }

  button {
    font-family: $font-fam;
    background: #fff;
    color: rgb(82, 64, 50);
    border: none;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-weight: 600;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      background: $color-gold;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: .4s;
    }

    &:hover::before{
      cursor: pointer;
      background: #fff;
      color: gold;
      transition-duration: 500ms;
      opacity: 0;
    }
  }


}
